<!DOCTYPE html>
<html>
    <head>
        <title>Twitch Event Listener</title>
    </head>
    <body>
        <div id="twitch-embed"></div>
        <!-- Load the Twitch embed script -->
        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
        <script type="text/javascript">
          new Twitch.Embed("twitch-embed", {
            width: 854,
            height: 480,
            channel: "{{ streamer_name }}"
          });
        </script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('stream_connected');
            });
            socket.on('event_updated', function (event) {
            var messages = document.getElementsByTagName('ul')[0],
                message = document.createElement('li'),
                content = document.createTextNode(event.data);
            message.appendChild(content);
            messages.appendChild(message);
        });

        </script>
    </body>
</html>
